<div class="footer">
    <div class="footer-navigation">
        <ul class="footer-navigation_menu">
            <a href="#">
                <li class="footer-navigation_menu_item">Home</li>
            </a><a href="#about">
                <li class="footer-navigation_menu_item">About me</li>
            </a><a href="#work">
                <li class="footer-navigation_menu_item">Work</li>
            </a><a href="#partner">
                <li class="footer-navigation_menu_item">Partner</li>
            </a><a href="#">
                <li class="footer-navigation_menu_item">Contact</li>
            </a>
        </ul>
    </div>
    <div class="footer-contact">
        
    </div>
</div>